
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* universal selector */
*{
    margin: 0;
}
body {
    background-color:#008F8C;
    color:#ffffff;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    text-align: center;
}

header h1 {
    padding: 20px; 
}

header p {
    margin-bottom: 10px;
}
.first-section {
    text-align: center;
}
.first-section h2 {
    padding: 10px;
}
.first-section p {
    padding: 10px;
}
.buttons-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.buttons-wrapper .dark-blue-btn {
    background-color: #042940;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 20px;
    color: #DBF227;
}
.buttons-wrapper .yellow-btn {
    background-color: #DBF227;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: #042940;
}

.buttons-wrapper .dark-blue-btn:hover {
    background-color: #5d8aa7;
}
.buttons-wrapper .yellow-btn:hover {
    background-color: #eeecc4;
}
.first-section img {
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 30px;
    border: 5px solid #DBF227;
}
.second-section {
    height: 100vh;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.second-section h2 {
    background-color: #DBF227;
    padding: 10px;
}
.git-explanation p{
    display: flex;
    gap: 10px;
    padding: 10px;
}