@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* universal selector */
* {
  margin: 0;
}
body {
  background-color: #008f8c;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.hero-section {
  height: 60vh; /* תופס 60% מגובה המסך */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://rotterdampartners-rp-website-p01.s3.eu-central-1.amazonaws.com/Woei_Shop_Sneakers_321c03d0b5.jpg"); /* לינק לדוגמה של נעליים */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
.hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.cta-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: #dbf227; /* הצבע הזרחני מהכפתורים הקודמים שלך */
  color: #042940;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  margin-top: 20px;
  transition: 0.3s;
}
.cta-button:hover {
  transform: scale(1.1);
  background-color: white;
}
.second-section {
  height: 100vh;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.second-section h2 {
  background-color: #dbf227;
  padding: 10px;
}
.git-explanation p {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.third-section {
  height: 100vh;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.third-section h2 {
  margin-bottom: 20px;
  text-align: center;
}
.third-section p {
  margin-bottom: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px 20px;
}

.grid-item {
  display: flex;
  flex-direction: column; /* מסדר את התמונה, הטקסט והכפתור בטור */
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden; /* מבטיח שהתמונה לא תצא מהגבולות המעוגלים */
}

.product-desc {
  font-size: 14px;
  color: rgb(5, 63, 107);
  margin-bottom: 10px; /* יוצר רווח בין הטקסט לבין הכפתור שמתחתיו */
  padding: 5px 10px;
  border-radius: 5px;
}
.product-image {
  width: 100%; /* שהתמונה תתפרס על כל רוחב הריבוע */
  height: 200px; /* גובה אחיד לכל התמונות באתר */
  object-fit: cover; /* שומר שהתמונה לא תתעוות */
}
.item-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* יוצר רווח קבוע בין הטקסט לכפתור */
  align-items: center;
}
.white-btn {
  background-color: #042940;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 20px;
  color: #dbf227;
}
.white-btn:hover {
  background-color: #5d8aa7;
}
